APP_PORT=3000
CLOUD_STATUS=AWS: Connected
DATABASE_FILE=./data/products.json
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/skystore?retryWrites=true&w=majority
MONGODB_DB=skystore
SESSION_USER=admin@skystore.io
SESSION_PASSWORD=Password123!